name: Test GitHub Action

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-action:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        action: [report, done]  # Note: We're also testing 'install' since it's implicitly in each of these two actions
        fail_on_error: [true, false]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up environment (Linux)
        if: ${{ matrix.os == 'ubuntu-latest' }}
        shell: bash
        run: |
          echo "Running on Linux"
      - name: Set up environment (MacOS)
        if: ${{ matrix.os == 'macos-latest' }}
        shell: bash
        run: |
          echo "Running on macOS"
      - name: Set up environment (Windows)
        if: ${{ matrix.os == 'windows-latest' }}
        shell: pwsh
        run: |
          echo "Running on Windows"

      - name: Run Test Action
        uses: ./
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          fail-on-error: ${{ matrix.fail_on_error }}
          debug: true
          parallel-finished: ${{ matrix.action == 'done' }}  # Only set 'parallel-finished' to true when testing 'done'
        env:
          CI: true
        continue-on-error: ${{ matrix.fail_on_error }}

      - name: Test report with build-number input option
        if: ${{ matrix.action == 'report' }}
        uses: ./
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          fail-on-error: ${{ matrix.fail_on_error }}
          debug: true
          build-number: ${{ github.sha }}
        env:
          CI: true

      - name: Test done with build-number input option
        if: ${{ matrix.action == 'done' }}
        uses: ./
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          fail-on-error: ${{ matrix.fail_on_error }}
          debug: true
          parallel-finished: true
          build-number: ${{ github.sha }}
        env:
          CI: true